a{
    text-decoration: none;
    color:whitesmoke;
  }
  
.rectangles-container {
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    top: 304px; 
    left: 400px; 
    
}

.rectangles-container .rectangle {
    width: 5%; 
    height: 100px; 
    margin: 0;
    background-color: #AF9A7D;
    border: 2px solid rgb(0, 0, 0); 
    text-align: center; 
    color: whitesmoke; 
    font-size: 30px; 
    line-height: 100px; 
    
}

.new-rectangles-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    top: -840px;
    left: 490px;
    display: flex;
    flex-direction: column;
    
}

.new-rectangle {
    width: 54%;
    height: 100px;
    margin: 0;
    background-color: #8e724b;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    color: whitesmoke;
    font-size: 30px;
    line-height: 100px;
    
}

.new-rectangle-image {
    margin-left: 40px;
    width: 11%; 
    height: 100%;
    float: left; 
    padding: 1px;
    
}

.header {
    position: absolute;
    top: 230px; 
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 50px;
    color:whitesmoke;

}

.new-rectangles-container .new-rectangle:first-child {
    background-color: #af9a7d; 
    
    
}

.rectangles-container .rectangle:first-child {
    background-color: #af9a7d; 
    
    }

    .new-rectangles-container .new-rectangle:first-child {
        display: flex;
        align-items: center;
        text-align: center;
        
    }
    
    .new-rectangles-container .new-rectangle:first-child img {
        width: 11%; 
        height: 100%;
        margin-left: auto; 
        
    }
    
    .new-rectangles-container .new-rectangle:first-child div {
        margin-left: auto;
        
    }

    #hamburger-menu {
        position: absolute;
        top: 50px;
        right: 50px;
        background-color: #af9a7d;
        padding: 10px;
        border-radius: 3px;
        box-shadow: 2px 2px 2px gray;
    }
    
    .hidden {
        display: none;
    }
    
    
    #hamburger-menu a {
        display: block;
        color: #000;
        text-decoration: none;
        margin: 5px 0;
    }

    .new-rectangle-2 a {
        text-decoration: none;
    }
    